*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.main{
    margin: 100px auto;
    width: 250px;
    height: 250px;
}
.SquareContainer{
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between;
}